$background: #0f1214;
$white: #efefef;
$pure-white: #ffffff;
$primary: #10141a;
$background-dark: #11171d;
$border-dark: #283039;
$shadow-dark: rgba(0, 0, 0, 0.4);
$text-muted: #9eacbf;

$icon-terrain: #746a87;
$icon-diameter: #4e615b;
$icon-films: #4d617b;
$icon-climate: #fffbd1;

$breakpoint-tablet: 1024px;
$breakpoint-mini: 524px;
