@import "./../../../styles/variables";

$color-text-muted: $text-muted;
$color-background-dark: #11171d;

.page {
  color: $white;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 10rem;

  @media (max-width: $breakpoint-tablet) {
    padding: 2rem 2rem;
  }

  @media (max-width: $breakpoint-mini) {
    padding: 2rem 0.85rem;
  }

  h1,
  h2 {
    margin-bottom: 1rem;
    color: $color-text-muted;
  }

  hr {
    margin-bottom: 1rem;
  }

  .arrow {
    margin-right: 0.5rem;
    color: $pure-white;
  }

  .block {
    padding: 3rem 4rem;
    background: $color-background-dark;
  }

  .back-button {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .info {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.6;

    @media (max-width: $breakpoint-tablet) {
      font-size: 0.9rem;
    }

    @media (max-width: $breakpoint-mini) {
      font-size: 0.8rem;
    }

    p {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      .icon {
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }
  }

  .resident-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
    gap: 3rem;
    margin-bottom: 2rem;

    @media (max-width: $breakpoint-tablet) {
      font-size: 0.9rem;
    }

    @media (max-width: $breakpoint-mini) {
      font-size: 0.8rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        line-break: auto;
      }
    }
  }
}
