@import "./../../styles/variables";

.card {
  width: 100%;
  min-width: 380px;
  padding: 1rem;
  background-color: #11171d;
  color: $white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #283039;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #9eacbf;
    margin-bottom: 16px;
    letter-spacing: 1px;
  }

  .info {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 300;

    p {
      margin: 8px 0;
      color: $white;
    }
  }

  .icon {
    vertical-align: middle;
    margin-right: 0.25rem;
  }
}

.terrain .icon {
  color: #746a87;
}

.diameter .icon {
  color: #4e615b;
}

.films .icon {
  color: #4d617b;
}
