@import "./../../styles/variables";

.card {
  width: 100%;
  min-width: 23.75rem;
  padding: 1rem;
  background-color: $background-dark;
  color: $white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid $border-dark;
  cursor: pointer;

  @media (max-width: $breakpoint-mini) {
    min-width: 10rem;
  }

  &:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 0 1rem $shadow-dark;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    color: $text-muted;
    margin-bottom: 1rem;
    letter-spacing: 0.0625rem;
  }

  .info {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 300;

    p {
      margin: 0.5rem 0;
      color: $white;
    }
  }

  .icon {
    vertical-align: middle;
    margin-right: 0.25rem;
  }
  .terrain .icon {
    color: $icon-terrain;
  }

  .diameter .icon {
    color: $icon-diameter;
  }

  .films .icon {
    color: $icon-films;
  }

  .climate .icon {
    color: $icon-climate;
  }
}
