.page {
  /* background-color: #121212; */
  color: #ffffff;
  min-height: 100vh;
  padding: 2rem 14rem;
  font-family: Arial, sans-serif;
  width: 100%;
}

/* .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
} */

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;

  & > * {
    flex: 1 1 250px;
    max-width: 300px;
  }
}
